PORT=3000
BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/petrosphere
DATABASE_SSL=false
SESSION_SECRET=replace_with_a_long_random_string
COOKIE_SECURE=false
STRIPE_PUBLISHABLE_KEY=pk_live_51SBKQzPaXK3rx5QZ6bIJpDosRo4tNAkmnw2CST76eOSyLkyghzskwdkSz9USKmKIL4eASrY6jbxSv9Cl9SU0chOZ00tiWVy6dV
STRIPE_SECRET_KEY=sk_live_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
